.main {
  padding: 5vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories {
  height: 80vh;
  width: 25vw;
  background-color: pink;
  margin: 2vw;
  padding: 1vw;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.7);
}

.cards {
  height: auto;
  width: 100%;
  background-color: aqua;
  margin: 2vw;
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.6);
}

span, h1 {
  display: block;
  text-align: center;
}

.categoryName {
  text-align: left;
  font-size: larger;
  margin: 10px 0px;
}

.categoryNameSelected {
  text-align: left;
  font-size: larger;
  margin: 10px 0px;
  background-color: bisque; 
}

input[type='checkbox'] { 
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .categories {
    height: auto;
    width: 100%;
  }

  span {
    display: inline-block;
  }
}